// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Font Variables
$roboto: "Roboto", sans-serif;
$body-font: $roboto;
$font-size-1: 2rem;
$font-size-2: 1.5rem;
$font-size-3: 1.17rem;
$font-size-4: 1rem;
$font-size-5: 0.83rem;
$font-size-6: 0.67rem;
